@import url('https://fonts.cdnfonts.com/css/cream-candy');

/* html { */
/* font-family: "Lora", sans-serif; */
/* width: 100%;
} */

body {
margin: 2%;
/* background-image: linear-gradient(#e7fae4, #e7d0da); */
border: 4px solid #333;
padding: 3%;
border-radius: 10px;
}

h1 {
font-size: 9rem;
margin-bottom: 2.5%;
text-align: center;
font-family: 'Cream Candy', sans-serif;
color: #001a4d;
margin-top: 1.5%;

}

canvas {
height: auto;
width: 90%;
}

form {
height: auto;
/* margin-left: 20%;
margin-right: 20%; */
}

div {
display: center;
text-align: center;
}
span{
font-family: 'times new roman', sans-serif;
display: block;
padding: 5px;
border: none;
font-size: 20px;
color: #001a4d;
}
input,label {
font-family: "Ubuntu", sans-serif;
display: block;
padding: 5px;
border: none;
font-size: 20px;
color: #001a4d;
}

button {
padding: 1%;
border-radius: 10px;
text-decoration: none;
background-color:  #001233;
}
.button:hover {
transform: translateY(-3px);
}

.button:active {
transform: translateY(0px);
}


#download , #download-btn{
text-decoration: none;
color: white;
font-family: "Poppins", sans-serif;
font-size: 0.9rem;
font-weight:bold;
}

input:focus {
    outline: 0;
  }

  /* Question */
  input.question {
    font-size: 20px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
  }

  /* Underline and Placeholder */
  input.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 80%;
    border-top: 1px solid #001233;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }

  input.question:focus + label {
    width: 100%;
  }

  input.question:focus{
    padding-top: 5px;
  }

  input.question:focus + label > span,
  input.question:valid + label > span {
    top: -65px;
    font-size: 22px;
    color: #333;
  }

  input.question:valid + label {
    border-color: green;
  }

  input.question:invalid {
    box-shadow: none;
  }

  input.question + label > span {
    font-weight: 300;
    position: absolute;
    color: #8f8f8f;
    font-size: 30px;
    top: -45px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }

  @-webkit-keyframes appear {
    100% {
      opacity: 1;
    }
  }

  @keyframes appear {
    100% {
      opacity: 1;
    }
  }

  .certificate {
    display: flex;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 300px) {
    form {
      padding: 5%;
    }
  }

  @media only screen and (max-width: 420px) {
    h1{
      font-size: 4rem;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    form {
      padding: 6%;
    }

    .certificate {
      display: block;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 920px) {
    form {
      padding: 4%;
    }
    .certificate {
      display: block;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    form {
      padding: 3%;
    }
  }
